{% extends "partials/base.njk" %}

{% block meta %}
<title>Contacto</title>
{% endblock %}

{% block content %}
<div class="contact">
  <div class="contact-form-section">
    <div class="contact-title-container">
      <h1 class="contact-title font-mega ff-bold">Contacto</h1>
    </div>
    <div class="contact-form-container">
      <form name="neulift-contact" method="post" action="http://integrations.blick.mx/neulift/contact/">
        <div class="contact-form-content">
          <label class="font-h5 ff-bold" for="full-name">Nombre completo</label>
          <input class="contact-form-input font-h6 ff-medium" type="text" name="name" id="full-name" required>
        </div>
        <div class="contact-form-content">
          <label class="font-h5 ff-bold" for="telephone">Teléfono</label>
          <input class="contact-form-input font-h6 ff-medium"  type="tel" name="phone" id="telephone">
        </div>
        <div class="contact-form-content">
          <label class="font-h5 ff-bold" for="e-mail">Correo electrónico</label>
          <input class="contact-form-input font-h6 ff-medium"  type="email" name="email" id="e-mail" required>
        </div>
        <div class="contact-form-content">
          <label class="font-h5 ff-bold" for="message">Mensaje</label>
          <textarea class="contact-form-input font-h6 ff-medium" type="text"  name="message" id="message"></textarea>
        </div>
        <div>
          <button class="contact-form-submit font-h5 ff-bold" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="contact-bottom">
    <div class="contact-bottom-info">
      <a href="https://www.google.com.mx/maps/place/Principal+4,+Pastoresa,+91193+Xalapa+Enr%C3%ADquez,+Ver./@19.5138903,-96.8839501,17z/data=!3m1!4b1!4m5!3m4!1s0x85db32346a3f82b9:0x7f703bd345bf2fe3!8m2!3d19.5138903!4d-96.8817614?hl=en" target="_blank">
        <div class="contact-bottom-content">
          <div class="contact-icon-container icon-location-container">
            <img class="contact-icon-location" src="img/icons/icon-location-black.png">
          </div>
            <span class="contact-bottom-text font-h6 ff-medium">Principal 4, Pastoresa, 91193,<br>Xalapa Enríquez, Veracruz.</span>
        </div>
      </a>
      <div class="contact-bottom-content">
        <div class="contact-icon-container icon-email-container">
          <img class="contact-icon-email" src="img/icons/icon-mail-black.png">
        </div>
        <a href="mailto:neupelleclinic@gmail.com">
          <span class="contact-bottom-text font-h6 ff-medium">neupelleclinic@gmail.com</span>
        </a>
      </div>
      <div class="contact-bottom-content">
        <div class="contact-icon-container icon-phone-container">
          <img class="contact-icon-phone" src="img/icons/icon-phone-black.png">
        </div>
        <span class="contact-bottom-text font-h6 ff-medium">22 86 88 82 42</span>
      </div>
    </div>
    <img class="contact-img" src="img/contact/img-contact.jpg">
  </div>
</div>
{% endblock %}