{% extends "partials/base.njk" %}

{% block meta %}
<title>Contacto</title>
{% endblock %}

{% block content %}
<div class="contact">
  <div class="contact-form-section">
    <div>
      <h1 class="font-mega ff-bold">Contacto</h1>
    </div>
    <div class="contact-form-container">
      <form name="neulift-contact" method="post" action="http://integrations.blick.mx/neulift/contact/">
        <div class="contact-form-content">
          <label class="font-h5 ff-bold">Nombre completo</label>
          <input class="contact-form-input font-h5 ff-medium" type="text" name="name" required>
        </div>
        <div class="contact-form-content">
          <label class="font-h5 ff-bold">Teléfono</label>
          <input class="contact-form-input font-h5 ff-medium"  type="tel" name="phone">
        </div>
        <div class="contact-form-content">
          <label class="font-h5 ff-bold">Correo electrónico</label>
          <input class="contact-form-input font-h5 ff-medium"  type="email" name="email" required>
        </div>
        <div class="contact-form-content">
          <label class="font-h5 ff-bold">Mensaje</label>
          <textarea class="contact-form-input font-h5 ff-medium" type="text"  name="message"></textarea>
        </div>
        <div>
          <button class="contact-form-submit font-h5 ff-bold" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="contact-bottom">
    <div class="contact-bottom-info">
      <div class="contact-bottom-content">
        <div class="contact-icon-container icon-location-container">
          <img class="contact-icon-location" src="img/icons/icon-location-black.png">
        </div>
        <span class="contact-bottom-text font-h6 ff-medium">Principal 4, Pastoresa, 91193,<br>Xalapa Enríquez, Veracruz.</span>
      </div>
      <div class="contact-bottom-content">
        <div class="contact-icon-container icon-email-container">
          <img class="contact-icon-email" src="img/icons/icon-mail-black.png">
        </div>
        <span class="contact-bottom-text font-h6 ff-medium">neupelleclinic@gmail.com</span>
      </div>
      <div class="contact-bottom-content">
        <div class="contact-icon-container icon-phone-container">
          <img class="contact-icon-phone" src="img/icons/icon-phone-black.png">
        </div>
        <span class="contact-bottom-text font-h6 ff-medium">22 86 88 82 42</span>
      </div>
    </div>
    <img class="contact-img" src="img/contact/img-contact.jpg">
  </div>
</div>
{% endblock %}