{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="home">
  <div class="home-cover ff-bold">
    <div>
      <h1 class="font-giga ff-medium">Belleza integral<br> sin cirugía</h1>
    </div>
    <div class="home-cover-subtitle">
      <h2 class="font-h4 ff-medium">Procedimientos no quirúrgicos, corporales, faciales y rejuvenecedores.</h2>
    </div>
    <div class="home-view-more">
      <span class="font-milli">Desliza para ver más</span>
      <div class="home-arrow-container">
        <img class="home-arrow" src="img/icons/icon-arrow-down.png">
      </div>
    </div>
  </div>

  <div class="home-treatments-container">
    <div class="home-treatments">
      <div class="home-treatments-head">
        <div class="subtitle-row-container">
          <h3 class="font-h3 ff-bold">Tratamientos</h3>
        </div>
        <div>
          <div class="home-treatments-subtitle">
            <h1 class="font-mega ff-medium">Nuestro objetivo es otorgar un servicio estético integral y con ello conseguir una mejora emocional</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="treatments-carousel-container">
      <div class="counter-container font-micro ff-bold">
        <span id="home-counter-init"></span><div class="counter-line"></div><span id="home-counter-total"></span>
      </div>
      <div class="treatments-carousel owl-carousel">
        <div class="home-treatments-content">
          <div>
            <div>
              <h2 class="font-h1 ff-bold">Rejuvenecimiento</h2>
            </div>
            <div class="home-treatments-description">
              <p class="font-h5 ff-medium">
                Ofrecemos diferentes tratamientos, desde faciales hasta corporales
              </p>
            </div>
            <div class="text-decorator-container">
              <a href="tratamientos.html">
                <button class="special-button font-h5 ff-bold">Tratamientos</button>
              </a>
            </div>
          </div>
          <div class="home-treatments-img-container">
            <img class="home-treatments-img" src="img/home/img-rejuvenation.jpg">
          </div>
        </div>
        <div class="home-treatments-content">
          <div>
            <div>
              <h2 class="font-h1 ff-bold">Contorno corporal</h2>
            </div>
            <div class="home-treatments-description">
              <p class="font-h5 ff-medium">
                Cambia tu figura para lucir increíble, conoce nuestros diferentes tratamientos que apliquen para ti
              </p>
            </div>
            <div class="text-decorator-container">
              <a href="tratamientos.html">
                <button class="special-button font-h5 ff-bold">Tratamientos</button>
              </a>
            </div>
          </div>
          <div class="home-treatments-img-container">
            <img class="home-treatments-img" src="img/home/img-body-contour.jpg">
          </div>
        </div>
        <div class="home-treatments-content">
          <div>
            <div>
              <h2 class="font-h1 ff-bold">Faciales</h2>
            </div>
            <div class="home-treatments-description">
              <p class="font-h5 ff-medium">
                Desde una limpieza profunda, hasta un lifting. Con el objetivo de lograr un rejuvenecimiento facial
              </p>
            </div>
            <div class="text-decorator-container">
              <a href="tratamientos.html">
                <button class="special-button font-h5 ff-bold">Tratamientos</button>
              </a>
            </div>
          </div>
          <div class="home-treatments-img-container">
            <img class="home-treatments-img" src="img/home/img-facial.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-surgeons">
    <div>
      <img class="home-surgeons-img" src="img/home/img-surgeons.jpg">
    </div>
    <div class="home-surgeons-content">
      <div>
        <h2 class="font-h1 ff-bold">Cirujanos certificados</h2>
      </div>
      <div class="home-surgeons-paragraph">
        <p class="font-h5 ff-medium">
          Neulift Clinic fue concebida por cirujanos plásticos estéticos y reconstructivos que a lo largo de su práctica médica han sabido escuchar las inquietudes y necesidades de los pacientes y buscan brindarles seguridad, ética, experiencia, vanguardia y profesionalismo.
        </p>
      </div>
      <div class="text-decorator-container">
        <a href="nosotros.html">
          <button class="special-button font-h5 ff-bold">Conocer más</button>
        </a>
      </div>
    </div>
  </div>

  <div class="home-schedule">
    <div class="subtitle-row-container">
      <h3 class="font-h3 ff-bold">Conócenos</h3>
    </div>
    <div class="home-schedule-content">
      <div>
        <div>
          <h1 class="font-h1 ff-bold">Agenda una cita</h1>
        </div>
        <div class="home-schedule-paragraph">
          <p class="font-h5 ff-medium">
            Ven a visitarnos, será un placer atenderte
          </p>
        </div>
        <div class="text-decorator-container">
          <a href="contacto.html">
            <button class="special-button font-h5 ff-bold">Contacto</button>
          </a>
        </div>
      </div>
      <div class="home-schedule-img-container">
        <img class="home-schedule-img" src="img/home/img-scheule.jpg">
        <img class="home-schedule-img-mobile" src="img/home/img-scheule.jpg">
      </div>
    </div>
  </div>
</div>
{% endblock %}
