{% extends "partials/base.njk" %}

{% block meta %}
<title>Nosotros</title>
{% endblock %}

{% block content %}
<div class="about">
  <div class="about-intro">
    <div class="top-view top-view-translate">
      <div class="subtitle-row-container">
        <h3 class="font-h3 ff-bold">Nosotros</h3>
      </div>
      <div>
        <div class="about-intro-description">
          <h1 class="font-mega ff-medium">El concepto Neulift Clinic nace ante la inquietud de cirujanos plásticos que buscan ofrecer a sus pacientes una alternativa en tratamientos estéticos no quirúrgicos</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="about-surgeons">
    <div class="about-surgeons-img-container">
      <img class="about-surgeons-img" src="img/about/img-certified.jpg">
    </div>
    <div class="home-surgeons-content">
      <div>
        <h2 class="font-h1 ff-bold">Cirujanos certificados</h2>
      </div>
      <div class="about-surgeons-paragraph">
        <p class="font-h5 ff-medium">
          El objetivo de Neulift Clinic es otorgar un servicio estético integral y con ello conseguir una mejora emocional.
        </p>
      </div>
      <div class="text-decorator-container">
        <a href="contacto.html">
          <button class="special-button font-h5 ff-bold">Contacto</button>
        </a>
      </div>
    </div>
  </div>

  <div class="about-team">
    <div class="about-team-our">
      <div class="home-surgeons-content">
        <div class="about-team-title">
          <div class="counter-container counter-about font-micro ff-bold">
            <span id="about-counter-init"></span><div class="counter-line"></div><span id="about-counter-total"></span>
          </div>
          <h2 class="font-h1 ff-bold">Nuestro equipo</h2>
        </div>
        <div class="about-surgeons-paragraph">
          <p class="font-h5 ff-medium">
            El equipo de cirujanos plásticos está conformado por el Dr. Marcos Gerardo González Martínez y el Dr. Paulo César González Martínez.
          </p>
        </div>
        <div class="text-decorator-container">
          <a href="tratamientos.html">
            <button class="special-button font-h5 ff-bold">Tratamientos</button>
          </a>
        </div>
      </div>
    </div>
    <div>
      <div class="about-carousel owl-carousel">
        <div class="about-team-content">
          <div class="about-team-content-background"></div>
          <div>
            <img class="about-team-img" src="img/about/img-dr-paulo.jpg">
          </div>
          <div class="about-team-list-container">
            <div class="about-team-doctor">
              <h3 class="font-h2 ff-bold">Dr. Paulo César González Martínez</h3>
            </div>
            <ul class="font-h6 ff-medium about-team-list">
              <li>
                Cirujano plástico estético y reconstructivo que ejerce en la Ciudad de México y en la Ciudad de Xalapa Veracruz.
              </li>
              <li>
                Cédula de especialidad 09973439.
              </li>
              <li>
                Avalado por el consejo mexicano de Cirugía plástica estética y reconstructiva (CMCPER) No. 1888.
              </li>
              <li>
                Miembro activo de la Asociación Mexicana de Cirugía plástica y estética y reconstructiva (AMCPER)
              </li>
              <li>
                Miembro activo del American College of Plastic Surgeons (ASPS)
              </li>
              <li>
                Colegio Veracruzano de Cirugía plástica, estética y reconstructiva.
              </li>
              <li>
                Autor de artículos nacionales e internacionales y autor de capítulos de libros en Cirugía plástica y reconstructiva.
              </li>
              <li>
                Forma parte del cuerpo médico del Centro Médico ABC y Grupo Ángeles.
              </li>
              <li>
                Cuenta con un Fellow en cirugía estética en el Hospital Ángeles del Pedregal.
              </li>
            </ul>
          </div>
        </div>
       <div class="about-team-content">
          <div class="about-team-content-background"></div>
          <div class="about-team-img-marcos">
            <img class="about-team-img" src="img/about/img-dr-marcos.jpg">
          </div>
          <div class="about-team-list-container">
            <div class="about-team-doctor">
              <h3 class="font-h2 ff-bold">Dr. Marcos Gerardo González</h3>
            </div>
            <ul class="font-h6 ff-medium about-team-list">
              <li>
                Cirujano plástico estético y reconstructivo que ejerce su práctica médica en la Ciudad de México.
              </li>
              <li>
                Cédula de especialidad: 5823450.
              </li>
              <li>
                Avalado por el Consejo Mexicano deCirugía plástica estética y reconstructiva (CMCPER) No. 1417.
              </li>
              <li>
                Miembro activo de la Asociación Mexicana de Cirugía plástica y estética y reconstructiva (AMCPER).
              </li>
              <li>
                Miembro activo del American College of Plastic Surgeons (ASPS)
              </li>
              <li>
                Miembro activo del International Society of Aesthetic Plastic Surgery (ISAPS).
              </li>
              <li>
                Colegio del Valle de México.
              </li>
              <li>
                Autor de diversos artículos nacionales e internacionales y autor de capítulos de libros en Cirugía plástica y reconstructiva.
              </li>
              <li>
                Forma parte del cuerpo médico del Centro Médico ABC.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}