{% extends "partials/base.njk" %}

{% block meta %}
<title>Tratamientos</title>
{% endblock %}

{% block content %}
<div class="treatments">
  <div class="treatments-head">
    <h1 class="font-h1 ff-bold">Tratamientos</h1>
    <div class="treatments-separator-container">
      <div class="treatments-separator"></div>
    </div>
    <div class="treatments-go-container">
      <a class="go-option" href="#go-injectables">
        <div class="treatments-go">
          <span class="font-h2 ff-bold">Inyectables</span>
          <div class="treatments-go-injectables-container">
            <img class="treatments-go-injectables" src="img/icons/icon-injectables.png">
            <img class="treatments-go-injectables-hover" src="img/icons/icon-injectables-white.png">
          </div>
        </div>
      </a>
      <a class="go-option" href="#go-apatology">
        <div class="treatments-go">
          <span class="font-h2 ff-bold">Aparatología</span>
          <div class="treatments-go-aparatology-container">
            <img class="treatments-go-aparatology" src="img/icons/icon-aparatology.png">
            <img class="treatments-go-aparatology-hover" src="img/icons/icon-aparatology-white.png">
          </div>
        </div>
      </a>
      <a class="go-option" href="#go-others">
        <div class="treatments-go">
          <span class="font-h2 ff-bold">Otros</span>
          <div class="treatments-go-others-container">
            <img class="treatments-go-others" src="img/icons/icon-others.png">
            <img class="treatments-go-others-hover" src="img/icons/icon-others-white.png">
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="treatments-injectables" id="go-injectables">
    <div class="treatments-carousel-title">
      <div class="counter-treatments-container font-micro ff-bold">
        <span id="injectables-counter-init"></span><div class="counter-line"></div><span id="injectables-counter-total"></span>
      </div>
      <h3 class="font-h1 ff-bold">Inyectables</h3>
    </div>
    <div class="injectables-carousel-container">
      <div class="injectables-carousel owl-carousel">
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/botox.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">Toxina Butolínica Bótox</h1>
            </div>
            <p>
              Rejuvenecimiento facial mediante debilitamiento temporal de grupos musculares que ocasionan arrugas en frente, entrecejo, patas de gallo y algunas zonas de la boca.
            </p>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/facial-fillers.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">Rellenos (Ácido Hialurónico)</h1>
            </div>
            <p>
              Rejuvenecimiento facial dando nuevo volumen y vitalidad a surcos y zonas que se han debilitado por el paso de los años como surcos nasogenianos, líneas de marioneta, región temporal, ojeras, rinomodelación, etc.
            </p>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/peeling.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">Peeling</h1>
            </div>
            <p>
              Para manchas superficiales, secuelas de acné, daño solar, hiperpigmentación.
            </p>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/mother-cells.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">Células madre (AAPE)</h1>
            </div>
            <p>
              Es un tratamiento novedoso con resultados increíbles. Mejora global de la piel. Efecto potente antiarrugas, antioxidante, despigmentante y estimula la formación y crecimiento de pelo.
            </p>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/mesotherapy.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">Enzimas recombinantes mesoterapia</h1>
            </div>
            <p>
              Tratamiento novedoso a base de mesoterapia con resultados impresionantes para rejuvenecimiento facial, disminución de grasa localizada (papada, abdomen, mejillas), reducción de celulitis y secuelas de cicatrices postquemadura.
            </p>
          </div>
        </div>
        <img class="treatments-cards" src="img/treatments/recombinant-enzymes.jpg">
      </div>
    </div>
  </div>

  <div class="treatments-aparatology" id="go-apatology">
    <div class="aparatology-carousel-container">
      <div class="aparatology-carousel owl-carousel">
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/radiofrequency.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">LIPOMAX RF</h1>
            </div>
            <div class="treatments-cards-content-description">
              <p>
                Es un innovador sistema corporal que ofrece resultados inigualables, gracias a su poderosa combinación de tecnologías no invasivas: succión, masaje fotoneumático con luz infrarroja, radiofrecuencia bipolar, ultrasonido controlado y mesoterapia virtual. El LipoMax RF elimina centímetros, moldea el cuerpo, reafirma la piel y reduce efectivamente hasta los grados más severos de celulitis.
              </p>
            </div>
          </div>
        </div>
        <img class="treatments-cards" src="img/treatments/ultrasound.jpg">
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/cavitation.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">LIPOMAX RF</h1>
            </div>
            <div class="treatments-cards-content-description">
              <p>
                Es un innovador sistema corporal que ofrece resultados inigualables, gracias a su poderosa combinación de tecnologías no invasivas: succión, masaje fotoneumático con luz infrarroja, radiofrecuencia bipolar, ultrasonido controlado y mesoterapia virtual. El LipoMax RF elimina centímetros, moldea el cuerpo, reafirma la piel y reduce efectivamente hasta los grados más severos de celulitis.
              </p>
            </div>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/microdermabrasion.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">DERMAMAX</h1>
            </div>
            <div class="treatments-cards-content-description">
              <p>
                El equipo ofrece una amplia variedad de opciones de tratamiento que incluyen rejuvenecimiento, líneas finas y arrugas, daño solar, acné, hiperpigmentación, levantamiento facial y corporal, cicatrices menores, estrías, melasma, poros abiertos, y penetración de producto. La unidad cuenta con 3 programas: el KineLift para rejuvenecer las múltiples capas de la piel, el DermaLift para el levantamiento del cuello y el escote, y el PureLight para tratar los problemas de acné y pigmentación.
              </p>
            </div>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/red-light.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">DERMAMAX</h1>
            </div>
            <p>
              Luz Roja Kinelift, 640 nm para rejuvenecimiento.
            </p>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/blue-light.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">DERMAMAX</h1>
            </div>
            <p>
              Luz Azul Pure Light Blue, 417 nm para acné.
            </p>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/green-light.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">DERMAMAX</h1>
            </div>
            <p>
              Luz verde Pure Light Green, 525 nm para hiperpigmentación.
            </p>
          </div>
        </div>
        <img class="treatments-cards" src="img/treatments/deep-suction.jpg">
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/galvanic-currents.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">DERMAMAX</h1>
            </div>
            <p>
              Reafirmación y penetración de productos.<br>Las corrientes galvánicas armonizan con las corrientes bioéticas naturales del cuerpo para reconstruir y rehabilitar los tejidos musculares, restaurando el contorno del rostro y alisando la zona de escote.

            </p>
          </div>
        </div>
        <div class="treatments-cards-container">
          <img class="treatments-cards" src="img/treatments/toroidal-radiofrequency.jpg">
          <div class="treatments-cards-content font-h6">
            <div class="treatments-cards-content-title">
              <h1 class="font-h4">LIPOMAX FACE AND BODY</h1>
            </div>
            <p>
              Radiofrecuencia con la última tecnología en el mercado que mejora significativamente los tratamientos de reafirmación de piel y de moldeamiento corporal. No doloroso y sin riesgos de quemadura como otra tecnología.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="treatments-carousel-title">
      <div class="counter-treatments-container font-micro ff-bold">
        <span id="aparatology-counter-init"></span><div class="counter-line"></div><span id="aparatology-counter-total"></span>
      </div>
      <h3 class="font-h1 ff-bold">Aparatología</h3>
      <div class="treatments-aparatology-description">
        <p class="font-h5 ff-medium">
          Rejuvenecimiento facial y corporal con diferentes tecnologías
        </p>
      </div>
    </div>
  </div>

  <div class="treatments-others" id="go-others">
    <div class="treatments-carousel-title">
      <div class="counter-treatments-container font-micro ff-bold">
        <span id="others-counter-init"></span><div class="counter-line"></div><span id="others-counter-total"></span>
      </div>
      <h3 class="font-h1 ff-bold">Otros</h3>
    </div>
    <div class="others-carousel-container">
      <div class="others-carousel owl-carousel">
        <img class="treatments-cards" src="img/treatments/non-surgical-face-lift.jpg">
        <img class="treatments-cards" src="img/treatments/facial-cleansing.jpg">
        <img class="treatments-cards" src="img/treatments/sequels-acne.jpg">
        <img class="treatments-cards" src="img/treatments/superficial-spots.jpg">
        <img class="treatments-cards" src="img/treatments/body-contour.jpg">
        <img class="treatments-cards" src="img/treatments/body-reduction.jpg">
        <img class="treatments-cards" src="img/treatments/post-surgery-fibrosis.jpg">
        <img class="treatments-cards" src="img/treatments/postoperative-treatments.jpg">
        <img class="treatments-cards" src="img/treatments/post-pregnazy.jpg">
        <img class="treatments-cards" src="img/treatments/celullitis.jpg">
        <img class="treatments-cards" src="img/treatments/cutaneous-flaccidity.jpg">
      </div>
    </div>
  </div>
  <div class="treatments-last-btn">
    <a href="contacto.html">
      <button class="special-button font-h5 ff-bold">Contáctanos</button>
    </a>
  </div>
</div>
{% endblock %}