<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="http://neulift.com.mx/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Neulift | Belleza integral sin cirugía" />
    <meta property="og:description" content="Procedimientos no quirúrgicos, corporales, faciales y rejuvenecedores" />
    <meta property="og:image" content="http://neulift.com.mx/img/backgrounds/cover-home.jpg" />
    <meta property="og:image:width" content="1191" />
    <meta property="og:image:height" content="1431" />
    <meta name="keywords" content="Belleza, no cirugías, lifting, faciales, rejuvenecer, corporales, tratamientos, xalapa, doctores, certificados">
    <meta name="description" content="Procedimientos no quirúrgicos, corporales, faciales y rejuvenecedores" />
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link runat="server" rel="shortcut icon" href="img/favicon/neulift-favicon.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicon/neulift-favicon.png" type="image/ico"/>
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}Neulift</title>
  </head>
  <body>
    <div id="page">
      {% include 'partials/navbar.njk' %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% include 'partials/footer.njk' %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
