<footer class="footer">
  <div>
    <a href="index.html">
      <img class="footer-logo" src="img/logos/logo-footer.png" alt="footer logo">
    </a>
  </div>
  <div class="footer-content ff-medium">
    <div class="footer-tower">
      <div class="footer-column">
        <span class="font-h6 ff-bold">Neulift</span>
        <div class="footer-separator"></div>
        <div>
          <a href="">
            <span class="font-milli {% if section == 'index' %} ff-bold {% endif %}">Inicio</span>
          </a>
        </div>
        <div>
          <a href="tratamientos">
            <span class="font-milli {% if section == 'tratamientos' %} ff-bold {% endif %}">Tratamientos</span>
          </a>
        </div>
        <div>
          <a href="nosotros">
            <span class="font-milli {% if section == 'nosotros' %} ff-bold {% endif %}">Nosotros</span>
          </a>
        </div>
        <div>
          <a href="contacto">
            <span class="font-milli {% if section == 'contacto' %} ff-bold {% endif %}">Contacto</span>
          </a>
        </div>
      </div>
      <div class="footer-column">
        <span class="font-h6 ff-bold">Teléfono</span>
        <div class="footer-separator"></div>
        <div>
          <span class="font-milli">22 86 88 82 42</span>
        </div>
      </div>
      <div class="footer-column">
        <span class="font-h6 ff-bold">Horarios de atención</span>
        <div class="footer-separator"></div>
        <div>
          <span class="font-milli">L - V : 10am - 3pm/4pm - 8pm</span>
        </div>
        <div>
          <span class="font-milli">S : 10am - 2pm</span>
        </div>
      </div>
    </div>
    <div class="footer-tower">
      <div class="footer-column">
        <span class="font-h6 ff-bold">Nuestra dirección</span>
        <div class="footer-separator"></div>
        <a href="">
          <div class="footer-location-content">
            <div>
              <img class="footer-icon-location" src="img/icons/icon-location.png" alt="location icon">
            </div>
            <span class="font-milli">Principal 4, Pastoresa,<br>91193, Xalapa Enríquez,<br>Veracruz</span>
          </div>
        </a>
      </div>
      <div class="footer-column">
        <span class="font-h6 ff-bold">Síguenos</span>
        <div class="footer-separator"></div>
        <div class="footer-social-icons">
          <div>
            <a href="">
              <img class="footer-icon-fb" src="img/icons/icon-fb.png" alt="facebook icon">
            </a>
          </div>
          <div>
            <a href="">
              <img class="footer-icon-tt" src="img/icons/icon-twitter.png" alt="twitter icon">
            </a>
          </div>
          <div>
            <a href="">
              <img class="footer-icon-ig" src="img/icons/icon-insta.png" alt="instagram icon">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
