<footer class="footer">
  <div class="footer-section">
    <div>
      <a href="index.html">
        <img class="footer-logo" src="img/logos/logo-footer.png" alt="footer logo">
      </a>
    </div>
    <div class="footer-content ff-medium">
      <div class="footer-tower">
        <div class="footer-column">
          <span class="font-h6 ff-bold">Neulift</span>
          <div class="footer-separator separator-neulift"></div>
          <div>
            <a href="index.html">
              <span class="footer-link font-milli {% if section == 'index' %} ff-bold {% endif %}">Inicio</span>
            </a>
          </div>
          <div>
            <a href="tratamientos.html">
              <span class="footer-link font-milli {% if section == 'tratamientos' %} ff-bold {% endif %}">Tratamientos</span>
            </a>
          </div>
          <div>
            <a href="nosotros.html">
              <span class="footer-link font-milli {% if section == 'nosotros' %} ff-bold {% endif %}">Nosotros</span>
            </a>
          </div>
          <div>
            <a href="contacto.html">
              <span class="footer-link font-milli {% if section == 'contacto' %} ff-bold {% endif %}">Contacto</span>
            </a>
          </div>
        </div>
        <div class="footer-column">
          <span class="font-h6 ff-bold">Teléfono</span>
          <div class="footer-separator separator-telephone"></div>
          <div>
            <span class="font-milli">22 86 88 82 43</span>
          </div>
        </div>
        <div class="footer-column">
          <span class="font-h6 ff-bold">Horarios de atención</span>
          <div class="footer-separator separator-atention"></div>
          <div>
            <span class="font-milli">L - V : 10am - 3pm/4pm - 8pm</span>
          </div>
          <div>
            <span class="font-milli">S : 10am - 2pm</span>
          </div>
        </div>
      </div>
      <div class="footer-tower">
        <div class="footer-column">
          <span class="font-h6 ff-bold">Nuestra dirección</span>
          <div class="footer-separator separator-address"></div>
          <a href="https://www.google.com.mx/maps/place/Principal+4,+Pastoresa,+91193+Xalapa+Enr%C3%ADquez,+Ver./@19.5138903,-96.8839501,17z/data=!3m1!4b1!4m5!3m4!1s0x85db32346a3f82b9:0x7f703bd345bf2fe3!8m2!3d19.5138903!4d-96.8817614?hl=en" target="_blank">
            <div class="footer-location-content">
              <div>
                <img class="footer-icon-location" src="img/icons/icon-location.png" alt="location icon">
              </div>
              <span class="footer-link font-milli">Principal 4, Pastoresa,<br>91193, Xalapa Enríquez,<br>Veracruz</span>
            </div>
          </a>
        </div>
        <div class="footer-column">
          <span class="font-h6 ff-bold">Síguenos</span>
          <div class="footer-separator separator-follow"></div>
          <div class="footer-social-icons">
            <div>
              <a href="https://www.facebook.com/Neulift/" target="_blank">
                <img class="footer-icon-fb" src="img/icons/icon-fb.png" alt="facebook icon">
              </a>
            </div>
            <div>
              <a href="https://www.instagram.com/neulift_clinic/?hl=es-la" target="_blank">
                <img class="footer-icon-ig" src="img/icons/icon-insta.png" alt="instagram icon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
