.footer
  align-items center
  background-image url("../img/backgrounds/background-footer.jpg")
  background-position center
  background-repeat no-repeat
  background-size cover
  bottom 0
  display flex
  height 364px
  justify-content center
  position absolute
  width 100%

  &-section
    display flex
    flex-direction row

  &-logo
    height 80px
    width 141px

  &-tower
    display flex
    flex-direction row

  &-content
    display flex
    flex-direction row

  &-link
    transition 0.3s

    &:hover
      color #8bafba
      transition 0.3s

  &-column
    display flex
    flex-direction column
    margin-left 100px

  &-separator
    background-color #fff
    height 1px
    margin 12px 0 20px 0px

  &-location
    &-content
      display flex
      flex-direction row

  &-social
    &-icons
      display flex
      flex-direction row

  &-icon
    &-location
      height 18px
      margin 4px 10px 0 0
      width 14px

    &-fb
      height 14px
      margin-right 11px
      width 7px

    &-ig
      height 12px
      width 12px

.separator
  &-neulift
    width 100px

  &-telephone
    width 100px

  &-atention
    width 180px

  &-address
    width 170px

  &-follow
    width 100px

@media screen and (max-width 768px)
  .footer
    height 520px

    &-section
      flex-direction column

    &-logo
      height 56px
      width 100px

    &-content
      margin-top 30px

    &-tower
     flex-direction column

     &:first-child
       margin-right 30px

    &-column
      margin 0 0 25px 0

      &:last-child
        margin-bottom 0

    &-separator
      margin-bottom 10px

    &-location
      &-content
        flex-direction column

.separator
  &-neulift
    width 70px

  &-telephone
    width 70px

  &-atention
    width 150px

  &-address
    width 120px

  &-follow
    width 70px

@media screen and (min-width 1000px) and (max-width 1300px)
  .footer
    &-column
      margin-left 40px

@media screen and (min-width 769px) and (max-width 999px)
  .footer
    padding 0 40px

    &-content
      flex-wrap wrap
      justify-content space-around

    &-column
      margin-left 40px

    &-tower
      &:first-child
        margin-bottom 20px

    &-separator
      margin-bottom 10px