.navbar
  align-items center
  background-color transparent
  display flex
  height 145px
  justify-content space-between
  left 0
  padding 0 150px
  position fixed
  top 0
  transition 0.4s all ease
  width 100%
  z-index 12

  &-logo
    height 43px
    width 177px

  &-decorator
    background-color #ffffff
    height 3px
    left -8px
    position absolute
    top -10px
    right -8px
    opacity 0
    transition 0.4s all ease

    &-active
      opacity 1

  &-scroll
    align-items center
    background-image url("../img/backgrounds/background-navbar.jpg")
    background-position center
    background-repeat no-repeat
    background-size cover
    box-shadow 0 6px 8px 0 rgba(0,0,0,0.2)
    height 90px
    transition all 0.3s

.navbar-option-link
  color $wWhite
  cursor pointer
  font-size remify(13px)
  letter-spacing 1.9px
  margin-left 80px
  transition all 0.4s

  &-content
    position relative

  &.active-link,
  &:hover
    color #73b9f0
    transition all 0.6s

  &:hover
    .link-decorator
      opacity 1
      transition all 0.4s

  &:hover
    .remove-decorator
      opacity 0

  &-container
    display flex
    flex-direction row

.hamburger-menu-container
  display none

.navbar-hamburguer-visibility
  position absolute

@media screen and (max-width: 876px)
  .navbar
    justify-content space-between
    height 70px
    padding 0 18px

  .navbar-option-link-container
    display none

  .navbar-option-link
    display block
    height auto
    display block
    text-align left
    flex-basis 100%

  .navbar-hamburguer-visibility
    position initial
      
  .navbar-hamburguer
    width 33px
    height 33px
    background-color $wStrongBlue
    cursor pointer
    display flex
    justify-content center
    
  .align-content-hamburguer
    display flex
    flex-direction column
    justify-content center
    
  .line-hamburguer-base
    height 1px
    background-color #fff

  .line-hamburguer-lg
    width: 15px
    
  .line-hamburguer-md
    width 7.5px
    
  .margin-vertical-4px
    margin 4px 0px

  .hamburger-menu-container
    background-color gray
    display inline
    left 0
    padding-bottom 50px
    position fixed
    top 0
    width 0%
    z-index 13
    bottom 0
    overflow scroll
    -webkit-transition width 0.5s
    transition width 0.5s
    
  .hamburger-menu-header
    align-items center
    display flex
    flex-direction row
    justify-content space-between
    padding 22px 36px 50px 36px
    
  .hamburger-logo
    height 20px
    width 94px
    
  .hamburger-close-container
    cursor pointer
    
  .hamburger-close
    height 16px
    width 16px

  .hamburger-menu-body
    margin-left 36px

  .hamburger-option-link
    color #fff
    cursor pointer
    font-size remify(12)
    letter-spacing 1.4px
    text-transform uppercase
    transition all 0.2s

    .hamburger-active,
    &:hover
      font-weight bold
      text-decoration underline
      transition all 0.2s

    &.link-active
      font-family 'OpenSans'
      font-weight 800
      
    &:hover, &.link-active
      .hamburger-stroke
        width 100%
        background-color #fff

  .hamburger-text-container
    margin 35px 0

  .hamburger-text
    margin 10px 0
    padding 10px 0

@media screen and (min-width 769px) and (max-width 1070px)
  .navbar
    padding 0 50px
