*
  box-sizing border-box

html
  font-size unit($baseFontSize, 'px')
  min-height 100%
  position relative

  @media screen and (max-width: 768px)
    font-size 14.5px

  @media screen and (max-width: 480px)
    font-size 13px

body
  font-size inherit
  margin 0 0 364px 0

  &.noscroll
    overflow hidden

    &::after
      content ' '
      opacity 1
      z-index 9

a
  &, &:focus, &:hover, &:active
    text-decoration none

#page
  margin 0
  overflow hidden
  padding 0

// LOADERS //
.custom-loader
  display none
  text-align center
  width 100%

  .ball-pulse-sync
    div
      background white

.button-wrapper.disabled,
button[type="submit"][disabled]
  display none

  & + .custom-loader
    &:not(.vertical-center)
      display block

    &.vertical-center
      display flex
      height 100%
// END LOADERS //

// FORMS //
label.error
  color $errorColor
  display block
  padding-top 0.3em

.form-message
  i, span
    display inline-block

  span
    margin-left 0.5em

  &.error
    color $errorColor

  &.success
    color $successColor

  &.success, &.error
    margin-top 1em

input, textarea, button, select
  font-family inherit

  &, &:hover, &:active &:focus
    box-shadow none
    outline none

textarea
  resize none
// END FORMS //

h1, h2, h3, h4, h5, h6, p
  margin 0

.text-decorator
  background-color $cBlueGray
  bottom -5px
  height 1px
  left -6px
  position absolute
  width 111px

  &-container
    position relative

.special-button
  background none
  border-bottom solid 1px $cBlueGray
  border-left none
  border-right none
  border-top none
  color $white
  cursor pointer
  overflow hidden
  position relative
  transition 0.3s ease-in
  -o-transition0 0.3s ease-in
  -ms-transition 0.3s ease-in
  -moz-transition 0.3s ease-in
  -webkit-transition 0.3s ease-in
  padding 6px 10px !important
  z-index 1

  &:hover
    background-color $cWhite
    color $cWhite

  &:before
    background-color $cBlueGray
    bottom 0
    content ""
    left 0
    position absolute
    right 0
    top 100%
    -webkit-transition: top 0.2s ease-in;
    z-index -1

  &:hover:before
    top 0

.subtitle-row-container
  margin 10px 150px 0 0

.navigation-arrows
  height 39px
  margin 4px 0
  transition 0.3s opacity
  width 39px

  &:hover
    opacity 0.7
    transition 0.3s opacity

.top-view
  display flex
  flex-direction row
  justify-content center

.counter
  &-container
    align-items center
    display flex
    flex-direction row

  &-line
    background-color $cBlack
    height 1px
    margin 0 8px
    width 18px

@media screen and (max-width 768px)
  body
    margin 0 0 520px 0

  .top-view
    flex-direction column

@import 'partials/navbar'

@import 'partials/footer'
