@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueBold.woff') format('woff'),
    url('../fonts/HelveticaNeueBold.ttf')  format('truetype'),
    url('../fonts/HelveticaNeueBold.svg#Roboto-Light') format('svg');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Medium.svg#Roboto-Light') format('svg');
  font-weight: $medium;
  font-style: normal;
}

.ff-bold
  font-family 'HelveticaNeue'
  font-weight $bold
  font-style normal

.ff-medium
  font-family 'HelveticaNeue'
  font-weight $medium
  font-style normal

.font-giga
  color $cWhite
  font-size $fsGiga
  letter-spacing 0.1px
  line-height 58px

.font-mega
  color $cBlack
  font-size $fsMega
  letter-spacing 0.1px
  line-height 53px

.font-h1
  color $cBlack
  font-size $fsH1
  letter-spacing 0.2px
  line-height 51px

.font-h2
  color $cBlack
  font-size $fsH2
  letter-spacing 1.3px
  line-height 51px

.font-h3
  color $cBlack
  font-size $fsH3
  letter-spacing 0.1px
  line-height 23px

.font-h4
  color $cWhite
  font-size $fsH4
  letter-spacing 0.1px
  line-height 23px

.font-h5
  color $cLightBlack
  font-size $fsH4
  letter-spacing 0.1px
  line-height 27px

.font-h6
  color $cWhite
  font-size $fsH6
  letter-spacing 0.1px

.font-milli
  color $cWhite
  font-size $fsMilli
  letter-spacing 0.1px
  line-height 26px

.font-micro
  color $cBlack
  font-size $fsMicro
  letter-spacing 0.1px
  line-height 27px

@media screen and (max-width 768px)
  .font-giga
    color $cWhite
    font-size $fsGigaM
    letter-spacing 0.2px
    line-height 35px

  .font-mega
    color $cBlack
    font-size $fsMegaM
    letter-spacing 0.1px
    line-height 27px

  .font-h1
    color $cBlack
    font-size $fsH1M
    letter-spacing 0.2px
    line-height 26px

  .font-h2
    color $cBlack
    font-size $fsH2
    letter-spacing 1.3px
    line-height 51px

  .font-h3
    color $cBlack
    font-size $fsH3
    letter-spacing 0.1px
    line-height 23px

  .font-h4
    color $cWhite
    font-size $fsH4
    letter-spacing 0.1px
    line-height 23px

  .font-h5
    color $cLightBlack
    font-size $fsH4
    letter-spacing 0.1px
    line-height 27px

  .font-h6
    color $cWhite
    font-size $fsH6
    letter-spacing 0.1px

  .font-milli
    color $cWhite
    font-size $fsMilli
    letter-spacing 0.1px
    line-height 26px
