// COLORS
$errorColor = #ff3636
$successColor = #149a14

// Base font-size
$baseFontSize = 16

// Font sizes

$fsGiga = remify(56px)
$fsMega = remify(38px)

$fsH1 = remify(28px)
$fsH2 = remify(19px)
$fsH3 = remify(17px)
$fsH4 = remify(15px)
$fsH5 = remify(14px)
$fsH6 = remify(13px)

$fsMilli = remify(12px)
$fsMicro = remify(10px)

// Font sizes mobile

$fsGigaM = remify(25px)
$fsMegaM = remify(25px)

$fsH1M = remify(20px)

// Colors

$cBackground = #f1f4f4
$cBlack = #121212
$cBlueGray = #aac4cc
$cBlueGrayLight = #f2f7f9
$cLightBlack = #424242
$cWhite = #ffffff

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black
